@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">School Database</h1>
    <p>This web application's main task is to serve as a simple base for inputting students, teachers, subjects and schools into a database, for management and viewing.</p>
</div>
